body {
    margin: 0;
}

.allsquares {
    margin: 0;
    width: 227.5px;
    height: 227.5px;
    border-bottom: 1px solid black;   
}

.allsquares:hover {
    background: black;
}

.row1 {
    display: flex;
}

.row2 {
    display: flex;

}

.row3 {
    display: flex;
}

.box1, .box7, .box13 {
    background: linear-gradient(90deg, #212529 0%, #e07a5f 50%, #dee2e6 100%);
}

.box2, .box8, .box14 {
    background: linear-gradient(90deg, #495057 0%, #e07a5f 50%, #ced4da 100%);

}

.box3, .box9, .box15 {
    background: linear-gradient(90deg, #6C757D 0%, #e07a5f 50%, #ADB5BD 100%);
    border-right: 0.4px solid #495057;

}

.box4, .box10, .box16 {
    background: linear-gradient(90deg, #ADB5BD 0%, #e07a5f 50%, #6C757D 100%);
}

.box5, .box11, .box17 {
    background: linear-gradient(90deg, #CED4DA 0%, #e07a5f 50%, #495057 100%);

}

.box6, .box12, .box18 {
    background: linear-gradient(90deg, #DEE2E6 0%, #e07a5f 50%, #212529 100%);

}
